
#plugin_qq_box {width:114px; height:197px; position:fixed; right:10px; ;background:url('../images/plugin_bg.png') no-repeat; background-size:cover;}
.inner_box {width:92px; height:146px; position:relative; overflow:hidden; margin:25px 10px; cursor:pointer;}
